.team {
  display: flex;
  gap: 1rem;
  overflow: hidden;

  @media (width <= 991px) {
    flex-direction: column;
  }
}

.wrapper {
  width: 100%;
  min-width: 26.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media (width <= 575px) {
    min-width: unset;
  }
}

.btnWrapper {
  display: flex;
  gap: 0.75rem;

  :global {
    .team-swiper-button-prev,
    .team-swiper-button-next {
      width: clamp(4rem, 2.4623rem + 6.5608vw, 7.875rem);
      aspect-ratio: 1;
      border-radius: 1.25rem;
      background-color: var(--c-white);
      transition-duration: var(--t-time);

      svg {
        color: var(--c-black);
        width: 3.75rem;
        aspect-ratio: 1;
      }

      &[disabled] {
        opacity: 0.5;
      }
    }

    .team-swiper-button-next {
      padding-top: 5px;
      rotate: 180deg;
    }

    @media (width <= 991px) {
      justify-content: space-between;
    }
  }
}

.swiper {
  width: 100%;
}

.title {
  font-size: clamp(1.75rem, 0.8571rem + 3.8095vw, var(--fs-h1));
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.text {
  line-height: 1.5;
}

.slide {
  border: 1px solid color-mix(in hsl, var(--c-white) 20%, transparent);
  border-radius: 2.5rem;
  text-align: center;
  padding: 2rem 0;
  max-width: 26.25rem;
  width: 100%;
}

.img {
  aspect-ratio: 1 /1;
  margin-bottom: 1rem;
  border-radius: 2.5rem;
  object-fit: cover;
  object-position: top;
}

.position {
  display: block;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

.name {
  text-transform: uppercase;
}
